<nav class="navbar navbar-expand-lg navbar-dark">
<div class="container-fluid">
<a href="" class="navbar-brand text-info fw-semibold fs-4">LIGA</a>
<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
<span class="navbar-toggler-icon">    
</span>
</button>
<section class="offcanvas offcanvas-start" id="menuLateral" tabindex="-1">
    <div class="offcanvas-header" data-bs-theme="dark">
        <h5 class="offcanvas-title text-info">GAMES</h5>
        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div>
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">GAMES</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">CONTACT</a></li>
        </ul>
    </div>
</section>
</div>
</nav>
