footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.362);*/
    color: white;

    background: rgb(4, 12, 86);
    background: -moz-linear-gradient(-45deg, rgba(4, 12, 86, 1) 0%, rgba(4, 12, 86, 1) 13%, rgba(4, 12, 86, 1) 13%, rgba(14, 114, 244, 1) 61%, rgba(14, 114, 244, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(4, 12, 86, 1) 0%, rgba(4, 12, 86, 1) 13%, rgba(4, 12, 86, 1) 13%, rgba(14, 114, 244, 1) 61%, rgba(14, 114, 244, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(4, 12, 86, 1) 0%, rgba(4, 12, 86, 1) 13%, rgba(4, 12, 86, 1) 13%, rgba(14, 114, 244, 1) 61%, rgba(14, 114, 244, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#040c56', endColorstr='#0e72f4', GradientType=1);
}
