<app-header></app-header>
<div class="container">
  <h3>Lista de Equipos</h3>
  <button type="button" class="btn btn-primary" >Agregar Equipo</button>
<table class="table table-hover">
    <caption>Lista de Equipos</caption>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Foto</th>
        <th scope="col">Logo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams" (click)="editTeam(team.idTeam)">
        <th scope="row">{{team.idTeam}}</th>
        <td>{{team.name}}</td>
        <td>{{team.image}}</td>
        <td>{{team.logo}}</td>

      </tr>

    </tbody>
  </table>
</div>
<app-footer></app-footer>
