
<div class="container">
  <h3>Lista de Jugadores</h3>
  <button type="button" class="btn btn-primary" >Agregar Jugador</button>
<table class="table table-hover">
    <caption>Lista de Jugadores</caption>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Identificación</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">N° Camiseta</th>
      </tr>
    </thead>
    <tbody><!--(click)="editUser(usuario.id)-->
      <tr *ngFor="let player of players">
        <th scope="row">{{player.id}}</th>
        <td>{{player.nombres}}</td>
        <td>{{player.apellidos}}</td>
        <td>{{player.identificacion}}</td>
        <td>{{player.fechaNacimiento}}</td>
        <td>{{player.numeroCamiseta}}</td>
      </tr>

    </tbody>
  </table>
</div>

