<app-header></app-header>
<div class="container">
    <form [formGroup]="newForm" (ngSubmit)="postForm()">
        <div class="form-group row">
            <div class="col">
                <label for="new">Nombres</label>
                <input type="text" class="form-control" placeholder="Nombres" formControlName="names">    
            </div>
            <div class="col">
                <label for="new">Apellidos</label>
                <input type="text" class="form-control" placeholder="Apellidos" id="lastNames" formControlName="lastNames">    
            </div>                       
        
            <div class="col">
                <label for="new">Identificación</label>
                <input type="text" class="form-control" placeholder="Identificación" formControlName="identification">
            </div>
            <div class="col">
                <label for="new">Fecha de Nacimiento</label>
                <input type="datetime" class="form-control"  formControlName="dateBirthday">
            </div>
            <div class="col">
                <label for="new">Número de Camiseta</label>
                <input type="number" class="form-control"  formControlName="numberShirt">
            </div>
            <div class="col">
                <label for="new">Equipo</label>
                <select class="form-control" ngModel formControlName="team" >
                    <option *ngFor="let team of teams" [ngValue]="team.idTeam">
                      {{ team.nameTeam }}
                    </option>
                  </select>
            </div>
            
        </div>
      
            <button type="submit" class="btn btn-primary">Guardar</button>
            <!--button type="button" class="btn btn-danger" (click)="deleteUser()">Eliminar</button-->
        
        
    </form>

</div>
<app-footer></app-footer>