<app-header></app-header>

<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="postForm()">
        <div class="form-group row">
            <div class="col">
                <label for="edit">Id</label>
                <input type="text" class="form-control" placeholder="Id" formControlName="id">    
            </div>
            <div class="col">
                <label for="edit">Nombre del Equipo</label>
                <input type="text" class="form-control" placeholder="Nombres del usuario" id="nombres" formControlName="nombre">    
            </div>                       
        
            <div class="col">
                <label for="edit">Foto</label>
                <input type="text" class="form-control" placeholder="Apellidos del usuario" formControlName="foto">
            </div>
            <div class="col">
                <label for="edit">Logo</label>
                <input type="email" class="form-control" placeholder="Email" formControlName="logo">
            </div>
        </div>
      
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" >Eliminar</button>
        
        
    </form>

</div>
<app-footer></app-footer>
